<footer>
    <div class="footer-container">
        <section class="footer-A">
            <h2 class="footer-title">Sobre</h2>
            <p class="footer-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta porro, provident maxime hic molestias distinctio autem voluptatem architecto ex similique quaerat deserunt facere, reprehenderit, recusandae reiciendis labore corrupti itaque consequuntur?
            </p>
        </section>
        <section>
            <h2 class="footer-title">Contato</h2>
            <ul class="footer-contat">
                <li><i class="fa-solid fa-envelope cr"></i> empresa@email.com</li>
                <li><i class="fa-solid fa-phone cr"></i> (65) 65014-0010</li>
                <li><i class="fa-brands fa-whatsapp cr"></i> (65) 95014-0010</li>
            </ul>
        </section>
    </div>
    <section class="credits">
        &copy; Todos os direitos reservados
    </section>
</footer>
